.register-input-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  row-gap: 10px;
}
.chat-container-root {
  padding: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
}
.chat-container-username,
.chat-container-email,
.chat-container-password {
  height: 30px;
  outline: none;
  border: 1px solid black;
  border-radius: 10px;
  padding-left: 10px;
  width: 100%;
}

.chat-container-button {
  height: 30px;
  border-radius: 10px;
  width: 100%;
  color: white;
  background-color: green;
  border: none;
  outline: none;
  cursor: pointer;
}
.chat-container-button:active {
  transform: scale(0.9);
}
.dp-image-viewer {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
  cursor: pointer;
  transition: 1s;
}
.dp-image-viewer:active {
  transform: rotateY(450deg);
}
.loading-icon {
  width: 20px;
  height: 20px;
}
