.user-root-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 300px;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 20px;
  max-height: 500px;
  transition: 0.6s;
}
.user-container {
  height: 50px;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 10px;
}
.image-username-container {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.user-dp {
  width: 30px;
  height: 30px;
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
}
.user-active-status {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-color: green;
}
.profile-container {
  background-color: white;
  border: 1px solid black;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  height: 100px;
  align-items: center;
}
.my-profile-dp {
  height: 50px;
  width: 50px;
  border: 1px solid gray;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}
.logout-text {
  font-weight: bolder;
  font-size: 20px;
  cursor: pointer;
}
.logout-text:hover {
  color: blue;
}
